* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

header {
  grid-area: header;
  background-color: #172940;
  color: #fff;
  padding: 1rem;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.logo-footer {
  height: 100px;
  width: 100px;
  z-index: 2;
}

.logo-header {
  height: 140px;
  width: 150px;
}

nav {
  background-color: #314b6d;
  padding: 1rem;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav ul a {
  text-decoration: none;
  color: white;
}

.navbar-brand {
  display: none;
}

#cart-icon {
  position: relative;
  text-decoration: none;
}

#limpiarBusquedaBtn {
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: none;
}

#limpiarBusquedaDiv {
  display: flex;
  justify-content: center;
}

.product-list {
  background-color: #eee;
  padding: 1rem;
  text-align: center;
}

.product-list h2 {
  margin-bottom: 1rem;
}

.product-list ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product-list li {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 3rem;
  text-align: center;
  margin-bottom: 1rem;
  width: 25rem;
}

.product-list li img {
  margin-bottom: 1rem;
  height: 100px;
  width: 150px;
}

.product-list li h3 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.product-list li p {
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

.product-list li .precioProducto {
  font-weight: bold;
  font-size: 1.1rem;
}

.precioProductoBusqueda {
  font-weight: bold;
  font-size: 1.1rem;
}

.product-list li button {
  display: block;
  margin: 1rem auto 0;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

#principalProductos {
  padding: 0;
}

#resultados {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
}

#resultados img {
  width: 150px;
  height: 100px;
}

#resultados .botonAgregarCarrito {
  display: block;
  margin: 1rem auto 0;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 2rem;
}

.containerResultado {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 3rem;
  text-align: center;
  margin-bottom: 1rem;
  border: solid blue 1px;
  max-width: 26rem;
  max-height: 30rem;
}

.cart {
  background-color: #ddd;
  padding: 1rem;
}

.cart h2 {
  margin-bottom: 1rem;
}

.cart ul {
  margin-bottom: 1rem;
}

.cart li {
  margin-bottom: 1rem;
}

.cart li h3 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.cart li .precioProducto {
  font-weight: bold;
  font-size: 1.1rem;
}

.cart li p {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

.cart .total-price {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-weight: bold;
}

.cart button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

#cart-items {
  display: none;
}

.aumentarUnidad{
  padding:1rem;
}

.disminuirUnidad{
  padding:1rem;
}

#nombreArticulo {
  font-weight: bolder !important;
}

#totalCarrito {
  text-align: center;
  color: red;
}

#comprarCarrito {
  min-width: 20vw;
}

.vaciarComprarDiv {
  display: flex;
  justify-content: space-between;
}

.sectionfooter {
  grid-area: footer;
  position: relative;
  width: 100%;
  background: #172940;
  padding-top: 60px;
}
footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  align-items: center;
  max-width: 600px;
  padding: 0;
  color: #a2b5cd;
  margin: 0 auto;
}

.carritoNav {
  list-style: none;
  margin-left: 1rem;
}

@media (width < 992px) {
  .carritoNav {
    margin-left: 0;
  }
  .navbar-brand {
    display: block;
  }

  #divCantidad{
    flex-wrap: wrap !important;
  }
}

@media (width < 620px) {
  footer {
    flex-direction: column;
  }

  footer.bottom {
    gap: 16px;
    flex-direction: column-reverse;
  }

  .navbar-brand {
    display: block;
  }
}

.quitar {
  width: 7rem;
}

footer > img {
  margin-top: 10px;
}

footer.top {
  border-bottom: 2px solid #3a4f6a;
  padding-bottom: 20px;
}

footer.bottom {
  padding: 20px 0;
  justify-content: space-between;
}

footer.top .links {
  display: flex;
}

.links > div {
  display: grid;
  gap: 10px;
  margin-bottom: 30px;
}

footer h2 {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: #f7f7f7;
}

.legal {
  font-size: 12px;
}

.legal > a {
  margin: 0 4px;
}

.legal > span {
  margin-right: 10px;
}

footer.bottom .links {
  display: flex;
  gap: 18px;
}

footer.bottom .links > a {
  font-size: 24px;
}

@media (width < 420px) {
  footer {
    text-align: center;
    align-items: center;
  }

  footer.top .links {
    grid-template-columns: 1fr;
  }

  footer.bottom {
    align-items: center;
  }

  .legal > span {
    display: block;
    margin-right: 0;
    margin-bottom: 2px;
  }
}
